<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is first htmlpage in</h1>
    <h1>this html page is rendered by render function </h1>
    <h1>rendering is a  process of interacting template directory and collecting the specified html page and returned to the views .</h1>
    <h1>function is returned to the browser</h1>
</body>
</html>